body {
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background-color: #f44336;
  background-repeat: no-repeat;
}

.card0 {
  background-color: #f5f5f5;
  border-radius: 8px;
  z-index: 0;
}

.card00 {
  z-index: 0;
}

.card1 {
  margin-left: 140px;
  z-index: 0;
  border-right: 1px solid #f5f5f5;
}

.card2 {
  display: none;
}

.card2.show {
  display: block;
}

.social {
  border-radius: 50%;
  background-color: #ffcdd2;
  color: #e53935;
  height: 47px;
  width: 47px;
  padding-top: 16px;
  cursor: pointer;
}

input,
select {
  padding: 2px;
  border-radius: 0px;
  box-sizing: border-box;
  color: #9e9e9e;
  border: 1px solid #bdbdbd;
  font-size: 16px;
  letter-spacing: 1px;
  height: 50px !important;
}

select {
  width: 100%;
  margin-bottom: 85px;
}

input:focus,
select:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #e53935 !important;
  outline-width: 0 !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #e53935;
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem;
  width: 77%;
}

.form-control-placeholder2 {
  position: absolute;
  font-size: 75%;
  top: -25px;
  padding: 12px 2px 0 2px;
  transition: all 300ms;
  opacity: 1;
  background-color: #fff;
}
.form-control-placeholder {
  position: absolute;
  top: 0px;
  padding: 12px 2px 0 2px;
  transition: all 300ms;
  opacity: 0.5;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 95%;
  top: 10px;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
  background-color: #fff;
}

.next-button {
  width: 18%;
  height: 50px;
  background-color: #bdbdbd;
  color: #fff;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
}

.btn {
  height: 50px;
  background-color: #e53935;
  color: #fff;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
}

.next-button:hover {
  background-color: #e53935;
  color: #fff;
}

.copy-icon {
  cursor: pointer;
  background-color: #f8f9fa; /* Light grey background */
  color: #797b7e; /* Grey icon color */
  padding: 5px 5px; /* Padding to make it look like a button */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Slight shadow */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

/* Hover effect for the button */
.copy-icon:hover {
  background-color: #e2e6ea; /* Slightly darker grey on hover */
  color: #495057; /* Darker grey on hover */
}

/* Active effect when the button is clicked */
.copy-icon:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Reduced shadow when active */
  background-color: #d6d8db; /* Even darker grey on click */
}

.get-bonus {
  margin-left: 154px;
}

.pic {
  width: 350px;
}

#progressbar {
  position: absolute;
  left: 35px;
  overflow: hidden;
  color: #e53935;
}

#progressbar li {
  list-style-type: none;
  font-size: 8px;
  font-weight: 400;
  margin-bottom: 36px;
}

#progressbar li:nth-child(4) {
  margin-bottom: 70px;
}

#progressbar .step0:before {
  content: "";
  color: #fff;
}

#progressbar li:before {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  font-size: 20px;
  background: #fff;
  border: 2px solid #e53935;
  border-radius: 50%;
  margin: auto;
}

#progressbar li:last-child:before {
  width: 40px;
  height: 40px;
}

#progressbar li:after {
  content: "";
  width: 3px;
  height: 66px;
  background: #bdbdbd;
  position: absolute;
  left: 58px;
  top: 15px;
  z-index: -1;
}

#progressbar li:last-child:after {
  top: 147px;
  height: 190px;
}

#progressbar li:nth-child(4):after {
  top: 81px;
}

#progressbar li:nth-child(3):after {
  top: 0px;
}

#progressbar li:nth-child(2):after {
  top: 0px;
}

#progressbar li:first-child:after {
  position: absolute;
  top: -81px;
}

#progressbar li.active:after {
  background: #e53935;
}

#progressbar li.active:before {
  background: #e53935;
  font-family: FontAwesome;
  content: "\f00c";
}

.tick {
  width: 100px;
  height: 100px;
}

.prev {
  display: block;
  position: absolute;
  left: 40px;
  top: 20px;
  cursor: pointer;
}

.prev:hover {
  color: #d50000 !important;
}

@media screen and (max-width: 912px) {
  .card00 {
    padding-top: 5px;
  }

  .card1 {
    border: none;
    margin-left: 50px;
  }

  .card2 {
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 3px;
  }

  .prev {
    display: block;
    position: absolute;
    left: 40px;
    top: 70px;
    cursor: pointer;
  }

  .social {
    height: 30px;
    width: 30px;
    font-size: 15px;
    padding-top: 8px;
    margin-top: 7px;
  }

  .get-bonus {
    margin-top: 10px !important;
    margin-left: 75px;
  }

  #progressbar {
    left: -25px;
  }

  #progressbar li {
    list-style-type: none;
    font-size: 8px;
    font-weight: 400;
    margin-bottom: 12px;
  }

  #progressbar li:last-child:after {
    top: 147px;
    height: 100px;
  }

  #progressbar li:nth-child(4):after {
    top: 71px;
  }

  #progressbar li:nth-child(3):after {
    top: 0px;
  }

  #progressbar li:nth-child(2):after {
    top: 20px;
  }

  #progressbar li:first-child:after {
    position: absolute;
    top: -81px;
  }
}
